# Join Statements - Lab

## Introduction

In this lab, you'll practice your knowledge of join statements, using various types of joins and various methods for specifying the links between them.

## Objectives

You will be able to:
- Write queries that make use of various types of Joins
- Join tables using foreign keys

## CRM Schema

In almost all cases, rather then just working with a single table you will typically need data from multiple tables. 
Doing this requires the use of **joins ** using shared columns from the two tables. 

In this lab, you'll use the same Customer Relationship Management (CRM) database that you saw from the previous lesson.
<img src='images/Database-Schema.png' width="600">

## Connecting to the Database
Import the necessary packages and connect to the database **data.sqlite**.

In [1]:
#Your code here
import sqlite3
import pandas as pd

conn = sqlite3.connect('data.sqlite')
c = conn.cursor()

## Display the names of all the employees in Boston.
Hint: join the employees and offices tables.

In [2]:
#Your code here
c.execute("""SELECT firstname, lastname
FROM employees e 
JOIN offices o ON e.officeCode = o.officeCode
WHERE o.city = 'Boston';""")
c.fetchall()

[('Julie', 'Firrelli'), ('Steve', 'Patterson')]

## Do any offices have no employees?
Hint: Combine the employees and offices tables and use a group by.

In [15]:
#Your code here
c.execute("""SELECT o.officeCode, city, COUNT(e.employeeNumber)
FROM offices o
LEFT JOIN employees e ON o.officeCode = e.officeCode
GROUP BY o.officeCode, city""")
c.fetchall()

[('1', 'San Francisco', 6),
 ('2', 'Boston', 2),
 ('3', 'NYC', 2),
 ('4', 'Paris', 5),
 ('5', 'Tokyo', 2),
 ('6', 'Sydney', 4),
 ('7', 'London', 2)]

## Write 3 Questions of your own and answer them

In [ ]:
# Answers will vary
What is the city with the highest amount of sales?

In [ ]:
# Your code here

In [ ]:
# Your code here

In [ ]:
# Your code here

## Level Up: Display the names of each product each employee has sold

In [ ]:
# Your code here

## Level Up: Display the Number of Products each employee has sold

In [ ]:
#Your code here

## Summary

Congrats! You now know how to use join statements, along with leveraging your foreign keys knowledge!