# Join Statements - Lab

## Introduction

In this lab, you'll practice your knowledge of join statements, using various types of joins and various methods for specifying the links between them.

## Objectives

You will be able to:
- Write queries that make use of various types of Joins
- Join tables using foreign keys

## CRM Schema

In almost all cases, rather then just working with a single table you will typically need data from multiple tables. 
Doing this requires the use of **joins ** using shared columns from the two tables. 

In this lab, you'll use the same Customer Relationship Management (CRM) database that you saw from the previous lesson.
<img src='images/Database-Schema.png' width="600">

## Connecting to the Database
Import the necessary packages and connect to the database **data.sqlite**.

In [1]:
#Your code here
import sqlite3
import pandas as pd

conn = sqlite3.connect('data.sqlite')
c = conn.cursor()

## Display the names of all the employees in Boston.
Hint: join the employees and offices tables.

In [2]:
#Your code here
c.execute("""SELECT firstname, lastname
FROM employees e 
JOIN offices o ON e.officeCode = o.officeCode
WHERE o.city = 'Boston';""")
c.fetchall()

[('Julie', 'Firrelli'), ('Steve', 'Patterson')]

## Do any offices have no employees?
Hint: Combine the employees and offices tables and use a group by.

In [15]:
#Your code here
c.execute("""SELECT o.officeCode, city, COUNT(e.employeeNumber)
FROM offices o
LEFT JOIN employees e ON o.officeCode = e.officeCode
GROUP BY o.officeCode, city""")
c.fetchall()

[('1', 'San Francisco', 6),
 ('2', 'Boston', 2),
 ('3', 'NYC', 2),
 ('4', 'Paris', 5),
 ('5', 'Tokyo', 2),
 ('6', 'Sydney', 4),
 ('7', 'London', 2)]

## Write 3 Questions of your own and answer them

In [ ]:
# Answers will vary
#What is the office city with the highest amount of sales?
#What is the name of the sales rep with the highest amount of sales?
#What is the product name with the highest number of orders?

In [16]:
# Your code here
c.execute("""SELECT * 
FROM orderdetails
JOIN orders using(odr;""")
df = pd.DataFrame(c.fetchall())
df.columns = [column[0] for column in c.description]
df

     orderNumber productCode quantityOrdered priceEach orderLineNumber
0          10100    S18_1749              30    136.00               3
1          10100    S18_2248              50     55.09               2
2          10100    S18_4409              22     75.46               4
3          10100    S24_3969              49     35.29               1
4          10101    S18_2325              25    108.06               4
5          10101    S18_2795              26    167.06               1
6          10101    S24_1937              45     32.53               3
7          10101    S24_2022              46     44.35               2
8          10102    S18_1342              39     95.55               2
9          10102    S18_1367              41     43.13               1
10         10103    S10_1949              26    214.30              11
11         10103    S10_4962              42    119.67               4
12         10103    S12_1666              27    121.64               8
13         10103    S18_1097              35     94.50              10
14         10103    S18_2432              22     58.34               2
15         10103    S18_2949              27     92.19              12
16         10103    S18_2957              35     61.84              14
17         10103    S18_3136              25     86.92              13
18         10103    S18_3320              46     86.31              16
19         10103    S18_4600              36     98.07               5
20         10103    S18_4668              41     40.75               9
21         10103    S24_2300              36    107.34               1
22         10103    S24_4258              25     88.62              15
23         10103    S32_1268              31     92.46               3
24         10103    S32_3522              45     63.35               7
25         10103   S700_2824              42     94.07               6
26         10104    S12_3148              34    131.44               1
27         10104    S12_4473              41    111.39               9
28         10104    S18_2238              24    135.90               8
29         10104    S18_2319              29    122.73              12
...          ...         ...             ...       ...             ...
2966       10420    S24_3432              26    104.94              12
2967       10420    S24_3969              15     35.29               3
2968       10421    S18_2795              35    167.06               1
2969       10421    S24_2022              40     44.80               2
2970       10422    S18_1342              51     91.44               2
2971       10422    S18_1367              25     47.44               1
2972       10423    S18_2949              10     89.15               1
2973       10423    S18_2957              31     56.21               3
2974       10423    S18_3136              21     98.44               2
2975       10423    S18_3320              21     80.36               5
2976       10423    S24_4258              28     78.89               4
2977       10424    S10_1949              50    201.44               6
2978       10424    S12_1666              49    121.64               3
2979       10424    S18_1097              54    108.50               5
2980       10424    S18_4668              26     40.25               4
2981       10424    S32_3522              44     54.94               2
2982       10424   S700_2824              46     85.98               1
2983       10425    S10_4962              38    131.49              12
2984       10425    S12_4473              33     95.99               4
2985       10425    S18_2238              28    147.36               3
2986       10425    S18_2319              38    117.82               7
2987       10425    S18_2432              19     48.62              10
2988       10425    S18_3232              28    140.55               8
2989       10425    S18_4600              38    107.76              13
2990       10425    S24_1444              55     53.75               1
2991       10425    S24_2300              49    127.79               9
2992       10425    S24_2840              31     31.82               5
2993       10425    S32_1268              41     83.79              11
2994       10425    S32_2509              11     50.32               6
2995       10425    S50_1392              18     94.92               2

[2996 rows x 5 columns]

In [ ]:
# Your code here

In [ ]:
# Your code here

## Level Up: Display the names of each product each employee has sold

In [ ]:
# Your code here

## Level Up: Display the Number of Products each employee has sold

In [ ]:
#Your code here

## Summary

Congrats! You now know how to use join statements, along with leveraging your foreign keys knowledge!